/* You can add global styles to this file, and also import other style files */
@import url("../src/fonts/Helvetica Neue/init_fonts.css");

/***************************
      LOGIN
****************************/
body {
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #0B87C9;
    color: #393939;
    line-height: 1.5;
}

body, h1, h2, h3, h4, div, p, span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

a {
    color: #fff;
}

a:active, a:hover {
    text-decoration: underline;
    color: #fff;
    outline: none;
}

#password-sent div.alert {
    border-radius: 0;
}

.login-container .login-frame {
    background: #fff;
    padding-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.login-container .login-frame .validation-summary-errors {
    color: #D19D59 !important;
}

.login-container .login-frame h3.heading {
    font-size: 23px;
    color: #478FCA !important;
    margin-bottom: 15px;
}

.login-container .login-frame h3.heading .fa.fa-lock {
    padding-right: 8px;
}

.login-container .login-frame .login-form .form-group.input-icon {
    position: relative;
}

.login-container .login-frame .login-form .form-group.input-icon i.fa.icon-right {
    position: absolute;
    left: auto;
    right: 7px;
    top: 9px;
    color: #909090;
    font-size: 16px;
}

.login-container .login-frame .login-form .form-group .checkbox {
    padding: 0;
    margin-top: 0;
}

.login-container .login-frame .login-form .btn-primary {
    background-color: #428BCA !important;
    border-color: #428BCA;
}

.login-container .login-frame .login-form .btn-primary:hover {
    background-color: #1B6AAA !important;
    border-color: #428BCA;
}

.login-container .login-frame .login-form .btn {
    border-radius: 3px !important;
}

.login-container .login-frame .login-form .btn i.fa.fa-key {
    margin-right: 5px;
}

.login-container .login-frame .login-form .btn-sm {
    border-width: 4px;
    font-size: 13px;
    padding: 4px 9px;
    line-height: 1.39;
    width: 50%;
    display: table;
    margin: 0 auto;
}

input[type="text"], input[type="password"] {
    border-radius: 3px !important;
    padding-left: 10px;
    box-shadow: none;
}

input[type="text"]:focus, input[type="password"]:focus {
    box-shadow: none;
    color: #696969;
    border-color: #F59942;
    background-color: #FFF;
    outline: medium none;
}

.padd-0 {
    padding: 0;
}

/* Register */
.panel-succcess {
    font-size: 14px;
}

.panel-succcess .panel-heading {
    background-color: #0B87C9 !important;
    border-color: #0B87C9 !important;
    color: #FFF !important;
}

.panel-succcess .panel-heading .panel-title {
    font-size: 18px;
}

.panel-succcess .hotline {
    color: #D53F40;
    font-size: 20px;
}

/*# sourceMappingURL=main.css.map */
